<tr>
    <td>
        <img class="hero-img" src='{{this.imageCiv}}'/>
    </td>
    <td>
        <h4>{{@hero.n}}</h4>
        {{@hero.d}}
    </td>
    <td>
        <img class="hero-img" src='{{this.imageMil}}'/>
    </td>
</tr>