{{page-title "Ukraine"}}
<div class="banner-top"/> 

<div class="banner">
    <img src='/assets/images/banner.png' />
    <a class="help-btn" href="/help">Help<br/> Ukraine </a>
    <img src='/assets/images/victory-ukraine.png' />
</div>
<div class="banner-bottom"/>
<div class="main-menu">
    <a href="/">Home</a>
    <a href="heroes">Heroes</a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href="/help">Help</a>
</div>
<hr/>
<main>
    {{outlet}}
</main>