{{page-title "Ukraine"}}
<div class="banner-top"/> 

<div class="banner">
    <a class="help-btn" href="/help">Help<br/> Ukraine </a>
    <Image @src='banner_j85ytE3yn.png' />
    <Image @src='logo_TPp_rw28Ni.png' />
</div>
<div class="banner-bottom"/>
<div class="main-menu">
    <LinkTo @route='index'>Home</LinkTo>
    <LinkTo @route='heroes'>Heroes</LinkTo>
    <LinkTo @route='help'>Help</LinkTo>
</div>
<hr/>
<main>
    {{outlet}}
</main>