{{page-title "Ukraine"}}
<div class="banner-top"/> 

<div class="banner">
    <img src='/assets/images/banner.png' />
    <a class="help-btn" href="/help">Help<br/> Ukraine </a>
    <img src='/assets/images/victory-ukraine.png' />
</div>
<div class="banner-bottom"/>
<div class="main-menu">
    <LinkTo @route='index'>Home</LinkTo>
    <LinkTo @route='heroes'>Heroes</LinkTo>
    <LinkTo @route='help'>Help</LinkTo>
</div>
<hr/>
<main>
    {{outlet}}
</main>