<h1>Help Ukraine</h1>

<h2>Donate Money</h2>

<h3>Military</h3>
<ul>
    <li>
        <a href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi">Donate directly to the Ukrainian Military </a>
    </li>
    <li>
        <a href="https://riprawlings.com/ripleys-heroes/">Ripley's Heroes</a> Group that supports volunteer medical personnel, journalists, and experiences soldiers.
        More at their <a href='https://twitter.com/RipRawlings'>Twitter account</a>
    </li>
</ul>

<h3>Humanitarian</h3>
<ul>
    <li><a href='https://kimmerians.org.ua/en/#pro_nas'>Humanitarian Aid to frontline city of Mykolaiv</a></li>
    <li><a href="https://www.cbsnews.com/news/russia-ukraine-refugees-donations-charity/">Suggestions from CBS News</a></li>
    <li><a href="https://www.zdnet.com/article/how-you-can-help-ukraine-donation-sites-and-resources/">Suggestions from ZDNet</a></li>
</ul>

<h2>Other Ways to Help</h2>
<ul>
    <li>
        <a href="https://www.airbnb.org/help-ukraine">Help house a refugee through Airbnb</a>
    </li>
    <li>
        <a href="https://www.enginprogram.org/">Teach Ukrainian students English with Engin </a>
    </li>
</ul>

