{{page-title "Heroes"}}
<h1>Ukrainian Heroes</h1>

<p>
    It's hard to single out heroes in a country of heroes.  But its indicative that, unlike
    Putin's army of conscripts and sons of poor regions who have little economic
    choice, Ukraine's best and brightest, who could easily fight a way out of the fight, have flocked  
    to the war effort. We highlight a few here.  The total commitment of all levels of 
    Ukrainian society should give a dictator of conscripts pause. Hopefully he realizes 
    soon that, if they have the half weapons they need to defeat Russia, the Ukrainian people 
    will defeat Russia. 
</p>
<table>
    {{#each this.model as |hero| }}
        <Hero @hero={{hero}} />
    {{/each}}
</table>

<h2>Women Soldiers</h2>
<p>Another group not traditionally in the military are Ukrainian women, who have been volunteering
    in droves. 
</p>