{{page-title "Heroes"}}
<h1>Ukrainian Heroes</h1>

<p>
    Ukraine is a country of heroes, so while it's hard to single out people. But unlike
    Putin's army of conscripts and sons of poor regions who have little other economic
    choice, Ukraine's best and brightest from all walks of life have joined the war effort. We 
    highlight a few here.  The total commitment of all levels of Ukrainian society should give
    a dictator of conscripts pause. Hopefully he realizes soon that if they have the half weapons
    they need to defeat Russia, they will defeat Russia. 
</p>
<table>
    {{#each this.model as |hero| }}
        <Hero @hero={{hero}} />
    {{/each}}
</table>